//---------------------------------
//      BACKGROUND COLORS
//---------------------------------

// Main
$color-main-bg: #1b1b1b;
$color-main-darker-bg: #0f0f0f;

// Cards
$color-card-bg: #353533;
$color-card-darker-bg: #292927;

//---------------------------------
//          THEME COLORS
//---------------------------------
$color-secondary: #ffd422;
$color-secondary-bis: #ff3d00;
$color-tertiary:  #fff1ba;

//---------------------------------
//          FONT COLORS
//---------------------------------
$color-font-primary: #ffffff;
$color-font-secondary: #1b1b1b;
$color-font-tertiary: #bd9807;

//---------------------------------
//        EXPORTED COLORS
//---------------------------------
:export {
  colorMainBg: $color-main-bg;
  colorSecondary: $color-secondary;
  colorSecondaryBis: $color-secondary-bis;
  colorCardBg: $color-card-bg;
  colorFontPrimary: $color-font-primary;
}
