//---------------------------------
//      BACKGROUND COLORS
//---------------------------------

// Main
$color-main-bg: #1B1B1B;
$color-main-darker-bg: #0F0F0F;

// Cards
$color-card-bg: #353533;

//---------------------------------
//          THEME COLORS
//---------------------------------
$color-secondary: #FFD422;
$color-secondary-bis: #FF3D00;

//---------------------------------
//          FONT COLORS
//---------------------------------
$color-font-primary: #FFFFFF;
$color-font-secondary: #1B1B1B;

//---------------------------------
//        EXPORTED COLORS
//---------------------------------
:export {
    colorMainBg: $color-main-bg;
    colorSecondary: $color-secondary;
    colorSecondaryBis : $color-secondary-bis;
}